.container-apt{
    background-color: #9ED9F5;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
}

.apt-input{
    --background: transparent;
    
}
.apt-input:hover{
    background-color: #92C2D9;
}
