.left-panel-profile{
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 20px;
    margin-left: 35px;
    margin-top: 20px;
}

.profile-data-container{
    padding: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


  .profile-btn-wrapper {
    display: flex;
    justify-content: flex-end; /* mueve el botón a la derecha */
    margin-top: 20px;
  }

