.createRoom-btn {
    max-width: 190px;
    max-height: 227px;
    justify-items: center;
}

.add-btn-room {
    background-color: #C1D7E1;
    margin-left: 20%;
    padding: 60px;
    border-radius: 10px;
}
.add-btn-room:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

.rooms-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 30px;
}

.room-card {
    width: 190px;
    height: 176px;
    background-color: #8ECAE6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.room-card:hover {
    transform: scale(1.03);
}

h1{
    margin-left: 30px;

}