.revert-btn{
    margin-left: 10px;
    font-size: 25px;
}

.revert-btn:hover{
    background-color: rgba(219, 219, 219, 0.534);
}

.room-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

/* LEFT SIDE */
.left-side-room {
    width: 50%;
    margin-right: 20px;
}
.backRoom-btn{
    margin-top: 30px;
}
.chores-list{
    background-color: #F2E5B8;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
}

.chores-row{
    
    --background: transparent;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --padding-start: 0;
    width: 100%;
    border: none !important;
}


/* RIGHT SIDE */
.right-side-room {
    width: 50%;
    margin-right: 20px;
}

.chores-row-checked{
    --background: transparent;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --padding-start: 0;
    width: 100%;
    border: none !important;
    text-decoration: line-through;
}