.main-container{
  margin-left: 30px;

}

.tobuy-content {
  padding: 16px;
}

.tobuy-card {
  margin-bottom: 20px;
}

.tobuy-title {
  font-size: 20px;
  font-weight: 600;
}

/*boton crear nueva lista*/
.createList-container{
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}

.add-btn-tobuy{
  background-color: #C1D7E1;
  margin: auto;
  padding: 60px;
  border-radius: 10px;
}

.add-btn-tobuy:hover{
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.section-container {
  margin-bottom: 16px;
}

.section-title {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 500;
  color: #487D97;
}

.tobuy-card-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.tobuy-card ion-item {
    --background: rgba(242, 229, 184, 1) !important;
    --ion-item-background: rgba(242, 229, 184, 1) !important;
    background: rgba(242, 229, 184, 1) !important;
  }
  
  .tobuy-card ion-item::part(native) {
    background: rgba(242, 229, 184, 1) !important;
  }
  
  .groceryList{
    --background: rgba(242, 229, 184, 1) !important;
    --ion-item-background: rgba(242, 229, 184, 1) !important;
    background: rgba(242, 229, 184, 1) !important;
  }
  