
.container {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  /* left and right halves */
  height: 100%;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}
h2{
  margin-left: 40px;
  margin-top: 50px;
  padding-bottom: 20px;
}

.input{
  margin: 10px;

}

.right-panel{
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10%;
  margin-right: 10%;
  padding: 25;
  background-color: white;
  border-radius: 5%;
}
.top{
margin-bottom: 10px;
gap: 5px;
justify-content: space-between;
justify-content: center;
margin-left: 40px;
margin-right: 40px;

}
.center {
padding-top: 5px;
display: flex;
justify-content: center;
align-items: center;
}
.bottom{
border-top-color: #6e6e6e;
margin-top: 50px;
align-content: center;
margin-left: 40px;
margin-bottom: 50px;
}
.left-panel{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
